
#statusContainer {
    display: flex;
    justify-content:center;
    width: 500px;
    height: 200px;
    border: 2px solid black;
}

#fetchBtns {
    display: flex;
    align-items: center;
    width: 500px;
    border: 3px solid green;
}


#fetchResults {
    display: flex column;
    height: 500px;
    width: 500px;
    justify-content: space-evenly;
    border: 5px solid red;
    overflow-y: scroll;
}